
/* .about {
    text-align: left;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
} */


.about {
  padding: 6rem;
  background-color: var(--pink);
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1.5em;
  gap: 4rem;
}

.about h1 {
  font-size: 20px;
  margin: 0;
}

.about h2 {
    font-size: 2.3rem;
    font-weight: thin;
    margin: 1rem;
}

.about-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-text {
    font-size: 25px;
    line-height: 1.5;
    text-align: left;
    padding: 20px 40px;
}

.about-img {
    width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 15%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.3s ease;
    padding-top: 20px;
    
}

.about-img:hover {
  opacity: 0.7;
}

.social-icons ul{
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
}

.social-icon {
  width: 30px;
  height: auto;
}

.social-icon:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}




@media (max-width: 768px) {
  .about {
    display: flex; /* Ensure flex is applied */
    flex-direction: column !important; /* Force stacking vertically */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 2rem;
  }

  .about-content {
    display: flex;
    flex-direction: column !important; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
  }

  .about-img {
    width: 150px;
    order: -1; /* Move image above text */
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1rem;
  }
}
