
/* Overall section styling */
.contact {
    padding: 6rem 10rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--purple);
}

/* Heading styling */
.contact h1 {
    font-size: 20px;
    margin: 0;
    font-family: "Alegreya", serif;
}

/* Form styling */
.contact-form {
    max-width: 800px;
    background-color: var(--wisteria);
    padding: 2rem 5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form .form-content {
    margin-bottom: 1.5rem;
    align-items: center;
    text-align: left;
    vertical-align: top;
}

.contact-form label {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    color: white;
    display: block;
    margin-bottom: 0.5rem;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 1rem;
}

.contact-form textarea {
    resize: vertical;
    min-height: 150px;
    font-family: inherit;
    margin-bottom: 1rem;
}







/* Button styling */
.contact-form button {
    padding: 1rem 2rem;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: var(--blue);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .contact {
        padding: 2rem; /* Reduce padding */
    }

    .contact-form {
        max-width: 100%; /* Prevent form from being too wide */
        padding: 2rem;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 1rem;
        padding: 0.8rem; /* Adjust padding to fit in the form */
        width: 100%; /* Ensure inputs take full width of their container */
        box-sizing: border-box; /* Include padding in width calculation */
    }

    .contact-form textarea {
        resize: vertical; /* Allow textarea resizing */
        min-height: 120px; /* Set a minimum height */
    }

    .contact-form button {
        font-size: 1rem;
        padding: 1rem 1.5rem;
    }
}


