.HomeContent {
    margin-top: 5rem;
    padding: 6rem;
    background-color: var(--blue);
    max-width: 100%;
}

.HomeContent h2 {
    font-size: 45px;
    margin-left: 2rem;
    margin-bottom: 0;
    text-align: left;

}

.HomeContent p {
    color: var(--color-800);

    font-size: 30px;
    margin-left: 2rem;
    margin-top: 0;
    text-align: left;
}