.HomeContent {
    margin-top: 5rem;
}

.HomeContent h2 {
    color: var(--color-900);
    font-size: 50px;
    margin-left: 2rem;
    margin-bottom: 0;
    text-align: left;
}

.HomeContent p {
    color: var(--color-800);
    font-size: 40px;
    margin-left: 2rem;
    margin-top: 0;
    text-align: left;
}