

.resume {
    text-align: center;
    padding: 5rem;
  }

.resume h1 {
    font-family: "Alegreya", serif;
     font-size: 20px;
     margin: 0;
  }  
  
  
  .resume-button {
    display: inline-block;
    color: var(--dark);
    background-color: var(--yellow);
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 1rem;
    transition: background 0.3s;
  }
  
  .resume-button:hover {
    background-color: var(--dark);
    color: white;
  }
  
  