.skills {
  padding: 6rem;
  background-color: var(--orange);
  color: white;
}

.skills h1 {
  font-size: 20px;
  margin: 0;
  font-family: "Alegreya", serif;
}

.skills h2 {
  margin-bottom: 1rem;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;     /* wrap to next line if needed */
  gap: 1rem;          /* space between boxes */
  list-style: none;      /* remove bullets */
  padding: 0;
  margin-top: 3rem;
}

.skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: default;
}

.skills li:hover {
  transform: translateY(-5px); /* subtle lift on hover */          /* optional: text highlight on hover */
}

.skills li svg {
  font-size: 6rem;               /* icon size */
  transition: transform 0.3s ease;
}

.skills li:hover svg {
  transform: scale(1.2);         /* slightly grow icon on hover */
}
