.footer {
  background-color: var(--dark);
  color: white;
  padding: 1rem;
}

.footer-container {
  max-width: 100%;
  margin: auto;           /* centers container in page */
  display: flex;
  flex-direction: row;      /* h1 and content in a row */
  align-items: center;
  justify-content: center; /* align items to top */
  gap: 2rem;                /* space between h1 and content */         /* ensures consistent side padding */
  box-sizing: border-box;
  flex-wrap: wrap;          /* wrap on smaller screens */
}

.footer-container h1 {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Alegreya", serif;
}

.footer-content {
  display: flex;
  flex-direction: column;   /* stack paragraph and icons */
  gap: 5px;   
  font-size: 1rem;           /* space between paragraph and icons */
}

p {
  margin: 0;
}

.social-icons ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Social icon hover effect */
.social-icons li:hover svg {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;  /* stack h1 above content */
    align-items: center;     /* center everything */
    text-align: center;
    width: 95%;              /* keep some padding on sides */
  }

  .footer-container h1 {
    margin-bottom: 1rem;
  }
}
