


.project {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 1rem;
}

.project-right {
  margin-right: 5rem;
}

.project-left {
  margin-left: 5rem;
}


.project-title {
  font-size: 1.8rem;
  font-family: "Alegreya", serif;
  margin-bottom: 1rem;
}

.project-description {
  flex-direction: column;
  padding: 10px;

}


.project-img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

 .project-link {
  position: relative;
  display: inline-block;
  background-color: var(--dark);
  padding: 10px 20px;
  margin: 5px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  overflow: hidden;
  transition: color 0.3s ease;
}

.project-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue); /* fill color on hover */
  z-index: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.project-link:hover::before {
  transform: translateY(0);
}

.project-link span {
  position: relative;
  z-index: 1; /* ensures text stays on top of fill */
  transition: color 0.3s ease;
}

.project-link:hover span {
  color: #fff; /* optional: text color change when filled */
}

 

