


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

    --pale-purple: #f3e0ec;
    --grey-purple: #d5b6cf;
    --mauve: #f2befc;
    --wisteria: #ca9ce1;
    --violet: #685f74;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--grey-purple);
  color: var(--violet);
}

a {
  font-weight: 500;
  color: var(--violet);
  text-decoration: inherit;
}
a:hover {
  color: var(--wisteria);
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--violet);
  color: var(--grey-purple);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--wisteria);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 768px) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--wisteria);
  }
  button {
    background-color: #f9f9f9;
  }
}
